<h2>{{ object.title }}</h2>

<p>{{ object.content }}</p>

{% if user == object.author %}
    <a href="{% url 'post-update' object.pk %}">Edit</a>
    <a href="{% url 'post-delete' object.pk %}">Delete</a>
{% endif %}

<h3>Comments</h3>

{% for comment in object.comments.all %}
    <p><strong>{{ comment.author }}</strong>: {{ comment.content }}</p>

    {% if user == comment.author %}
        <a href="{% url 'comment-update' comment.pk %}">Edit</a>
        <a href="{% url 'comment-delete' comment.pk %}">Delete</a>
    {% endif %}
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

{% if user.is_authenticated %}
<form method="POST" action="{% url 'comment-add' object.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>
{% endif %}

<h4>Tags:</h4>

{% for tag in object.tags.all %}
    <a href="{% url 'posts-by-tag' tag.slug %}">{{ tag.name }}</a>
{% endfor %}


<form method="GET" action="{% url 'post-search' %}">
    <input type="text" name="q" placeholder="Search posts">
    <button type="submit">Search</button>
</form>
